{% load humanize %}
{% with p=product %}
    <tr>
        <td>
            {% if p.image %}
                <img src="{{ p.image.url }}"
                     alt="{{ p.name }}"
                     width="40"
                     height="40"
                     class="rounded-circle" />
            {% else %}
                <div class="rounded-circle bg-secondary text-white d-flex align-items-center justify-content-center"
                     style="height: 40px;
                            width: 40px;
                            font-weight: bold;
                            font-size: 18x">{{ p.name|first|upper }}</div>
            {% endif %}
        </td>
        <td>{{ p.sku }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.price|intcomma }}</td>
        <td>{{ p.stock|intcomma }}</td>
        <td>{{ p.low_stock_threshold|intcomma }}</td>
        <td class="datetime">{{ p.created_at|date:'c' }}</td>
        <td>
            <a href="{#% url 'inventory:detail'  %#}"
               class="btn btn-sm btn-outline-primary">View</a>
            <a href="{% url 'inventory:update' p.id %}"
               class="btn btn-sm btn-outline-success">Edit</a>
            <a href="{% url 'inventory:delete' p.id %}"
               class="btn btn-sm btn-outline-danger">Delete</a>
        </td>
    </tr>
{% endwith %}
