<!-- templates/core/
templates/products/product_create.html, product_list.html
templates/orders/components,partials -->
<header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'home' %}">Quick Stock</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               aria-expanded="false"
                               role="button"
                               href="{% url 'inventory:list' %}">Products</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'inventory:list' %}" class="dropdown-item">List</a>
                                </li>
                                <li>
                                    <a href="{% url 'inventory:create' %}" class="dropdown-item">Add</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:list' %}">Orders</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-light ms-2">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item mb-2">
                            <a href="{% url 'accounts:login' %}" class="btn btn-success ms-2">Login</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="{% url 'accounts:register' %}" class="btn btn-light ms-2">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
